mixin addItem()

    h2 Add Item
    .form_container


        form(action= method='POST' enctype="multipart/form-data")
            .form_input
                .row
                    .col-25
                        label(for='item_name') Product name:
                    .col-75
                        input(type='text' name='item_name' id='item_name' required)
            .form_input
                .row
                    .col-25
                        label(for='item_price') Product price:
                    .col-75
                        input(type='number' name='item_price' id='item_price' min='1' max='10000' required)
            .form_input
                .row
                    .col-25
                        label(for='item_brand') Product brand:
                    .col-75
                        input(type='text' name='item_brand' id='item_brand')
            .form_input
                .row
                    .col-25
                        label(for='item_image') Product image:
                    .col-75
                        input(type='text' name='item_image' id='item_image' required)
            .form_input
                .row
                    .col-25
                        label(for='item_warranty') Product warranty period in month:
                    .col-75
                        input(type='number' name='item_warranty' id='item_warranty' min='1' max='100' required)
            .form_input
                .row
                    .col-25
                        label(for='item_description') Item description
                    .col-75
                        textarea(name='item_description' id='item_description' cols='30' rows='10' required)
            .form_input
                .row
                    .col-25
                        label(for='item_name')   name:
                    .col-75
                        input(type='text' name='item_name' id='item_name' required)
                .form_input
                .row
                    label(for='item_available') Available:
                    input(type='radio' name='item_available' id='item_available' value='true'  checked)
                    label(for='item_unavailable') Unavailable:
                    input(type='radio' name='item_unavailable' id='item_unavailable' value='false')
            .form_input
                .row
                    .col-25
                        label(for='item_category') Item category:
                    .col-75
                        select(name='item_category' id='item_category')
                            option(value='Mobile phones') Mobile phones
                            option(value='Cases and holders') Cases and holders
                            option(value='Phototechnics') Phototechnics
                            option(value='Telescopes, microscopes, binoculars') Telescopes, microscopes, binoculars
                            option(value='Video cameras and accessories') Video cameras and accessories
                            option(value='GPS Navigation') GPS Navigation
                            option(value='Other equipment') Other equipment
                            option(value='Accessories') Accessories
                            option(value='Smart watches and bracelets') Smart watches and bracelets
            br
            .form_input
                .row
                    button(type='submit' class='') CONFIRM
            hr

        a(href="/admin")
            button(type="button" class="button_small") Back to admin




