extends ../layout
include ../admin/_add_item_mix


block content
    .content_container
        .row
            .leftcolumn
                .card
                    h2 Admin panel
                    .fakeimg(style='height:50px;text-align:center') Profile
                    img(src='https://www.jumpstarttech.com/files/2018/08/Network-Profile.png' style='height:auto;width:100%;')
                    p Some text about me in culpa qui officia deserunt mollit anim..
                .card
                    h3 Menu
                    .fakeimg
                        a(href="/admin/add")
                            p Add new item
                    .fakeimg
                        a(href="/admin/add")
                            p Edit / Remove items
                    .fakeimg
                        a(href="/admin/add")
                            p View listed orders
                .card
                    h3 Follow Me
                    p Some text..
            .rightcolumn
                .card
                    h2 TITLE HEADING
                    h5 Title description, Dec 7, 2017
                    //.fakeimg(style='height:200px;')
                    +addItem()
                    //p Some text..
                    //p
                    //    | Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                .card
                    h2 TITLE HEADING
                    h5 Title description, Sep 2, 2017
                    .fakeimg(style='height:200px;') Image
                    p Some text..
                    p
                        | Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.


    //.container
    //
    //    // Full-width images with number text
    //    .mySlides
    //        .numbertext 1 / 6
    //        img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTibuCuQzAFhUX__19xcSYmaNCvfbdq5KtqY-_KQUIATxvA3WP8&s' style='width:100%')
    //    .mySlides
    //        .numbertext 2 / 6
    //        img(src='https://4.bp.blogspot.com/-KrzuViUnSUA/XWtyeIJOMLI/AAAAAAAAMqc/5mI2N-UlyX0uP044NEi-AgbhiuYR6qohgCLcBGAs/w914-h514-p-k-no-nu/anime-girl-pink-hair-yae-sakura-honkai-impact-3rd-uhdpaper.com-4K-4.509-wp.thumbnail.jpg' style='width:100%')
    //    .mySlides
    //        .numbertext 3 / 6
    //        img(src='https://images2.alphacoders.com/677/thumb-1920-677670.jpg' style='width:100%')
    //    .mySlides
    //        .numbertext 4 / 6
    //        img(src='https://c4.wallpaperflare.com/wallpaper/33/310/448/animal-ears-anime-anime-girls-blue-wallpaper-preview.jpg' style='width:100%')
    //    .mySlides
    //        .numbertext 5 / 6
    //        img(src='https://www.xtrafondos.com/wallpapers/chica-anime-con-vestido-negro-3726.jpg' style='width:100%')
    //    .mySlides
    //        .numbertext 6 / 6
    //        img(src='https://wallpaperaccess.com/full/21592.jpg' style='width:100%')
    //
    //
    //    // Next and previous buttons
    //    a.prev(onclick='plusSlides(-1)') &#x276E;
    //    a.next(onclick='plusSlides(1)') &#x276F;
    //    // Thumbnail images
    //
    //    .row
    //        .column
    //            img.demo.cursor(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTibuCuQzAFhUX__19xcSYmaNCvfbdq5KtqY-_KQUIATxvA3WP8&s' style='width:100%' onclick='currentSlide(1)' alt='The Woods')
    //        .column
    //            img.demo.cursor(src='https://4.bp.blogspot.com/-KrzuViUnSUA/XWtyeIJOMLI/AAAAAAAAMqc/5mI2N-UlyX0uP044NEi-AgbhiuYR6qohgCLcBGAs/w914-h514-p-k-no-nu/anime-girl-pink-hair-yae-sakura-honkai-impact-3rd-uhdpaper.com-4K-4.509-wp.thumbnail.jpg' style='width:100%' onclick='currentSlide(2)' alt='Cinque Terre')
    //        .column
    //            img.demo.cursor(src='https://images2.alphacoders.com/677/thumb-1920-677670.jpg' style='width:100%' onclick='currentSlide(3)' alt='Mountains and fjords')
    //        .column
    //            img.demo.cursor(src='https://c4.wallpaperflare.com/wallpaper/33/310/448/animal-ears-anime-anime-girls-blue-wallpaper-preview.jpg' style='width:100%' onclick='currentSlide(4)' alt='Northern Lights')
    //        .column
    //            img.demo.cursor(src='https://www.xtrafondos.com/wallpapers/chica-anime-con-vestido-negro-3726.jpg' style='width:100%' onclick='currentSlide(5)' alt='Nature and sunrise')
    //        .column
    //            img.demo.cursor(src='https://wallpaperaccess.com/full/21592.jpg' style='width:100%' onclick='currentSlide(6)' alt='Snowy Mountains')
