extends layout
include mixins/_item


block content

    .slideshow-container
        .mySlides.fade
          .numbertext 1 / 6
          img(src='../images/index_slideshow/1.jpg', style='width:100%')
        .mySlides.fade
          .numbertext 2 / 6
          img(src='../images/index_slideshow/2.jpg', style='width:100%')
        .mySlides.fade
          .numbertext 3 / 6
          img(src='../images/index_slideshow/3.jpg', style='width:100%')
        .mySlides.fade
          .numbertext 4 / 6
          img(src='../images/index_slideshow/4.jpg', style='width:100%')
        .mySlides.fade
          .numbertext 5 / 6
          img(src='../images/index_slideshow/5.jpg', style='width:100%')
        .mySlides.fade
          .numbertext 6 / 6
          img(src='../images/index_slideshow/6.jpg', style='width:100%')

        a.prev(onclick='plusSlides(-1)') &#x276E;
        a.next(onclick='plusSlides(1)') &#x276F;

        .test
          div(style='text-align:center')
            span.dot(onclick='currentSlide(1)')
            span.dot(onclick='currentSlide(2)')
            span.dot(onclick='currentSlide(3)')
            span.dot(onclick='currentSlide(4)')
            span.dot(onclick='currentSlide(5)')
            span.dot(onclick='currentSlide(6)')

    //FIRST CAROUSEL -----------------------------------
    .item_carousel_container
        .item_carousel_category
            h3 TOP Mobiles phones
        #carouselExampleIndicators.carousel.slide.container(data-ride='carousel' data-interval="false")
            //ol.carousel-indicators
            //    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            //    li(data-target='#carouselExampleIndicators', data-slide-to='1')
            //    li(data-target='#carouselExampleIndicators', data-slide-to='2')
            .carousel-inner
                .carousel-item.active
                    .row
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/1.jpg")
                                    .card-text
                                        .card-item-name
                                            p XIAOMI MI NOTE 10 6/128GB Juodas (Midnight Black) MZB8607EU

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 215 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 199 €
                                            tr
                                                td -7%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (94)
                                            tr
                                                td(colspan="2") Mobile phones
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/6.jpg")
                                    .card-text
                                        .card-item-name
                                            p XIAOMI REDMI NOTE 7, 128GB (JUODAS) MZB7578EU
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 229 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span (314)
                                            tr
                                                td(colspan="2") Mobile phones
                        .col-md-4.col-lg-3.d-md-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/9.jpg")
                                    .card-text
                                        .card-item-name
                                            p Oppo Realme 5 Pro 4/128GB DS Mėlynas (Mėlyna)

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 239 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 229 €
                                            tr
                                                td -12%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (275)
                                            tr
                                                td(colspan="2") Mobile phones
                        .col-lg-3.d-lg-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/6.jpg")
                                    .card-text
                                        .card-item-name
                                            p Huawei P Smart Z 4/64GB Juodas 2019
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 239 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (78)
                                            tr
                                                td(colspan="2") Mobile phones
                .carousel-item
                    .row
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/5.jpg")
                                    .card-text
                                        .card-item-name
                                            p XIAOMI REDMI NOTE 8T 64GB BALTAS MZB8478EU
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 219 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span (128)
                                            tr
                                                td(colspan="2") Mobile phones

                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/8.jpg")
                                    .card-text
                                        .card-item-name
                                            p Xiaomi Redmi Note 8 Pro 6+128 Pilkas (Mineral Gray)
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 189 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 169 €
                                            tr
                                                td -11%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (321)
                                            tr
                                                td(colspan="2") Mobile phones
                        .col-md-4.col-lg-3.d-md-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/1.jpg")
                                    .card-text
                                        .card-item-name
                                            p Huawei P Smart Z 4/64GB Mėlynas (SAPPHIRE BLUE)

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 199 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 195 €
                                            tr
                                                td -2%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (243)
                                            tr
                                                td(colspan="2") Mobile phones
                        .col-lg-3.d-lg-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/4.jpg")
                                    .card-text
                                        .card-item-name
                                            p Telefonas REDMI NOTE 8 PRO/64GB BALTAS MZB8620EU XIAOMI
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 203 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span (45)
                                            tr
                                                td(colspan="2") Mobile phones
                .carousel-item
                    .row
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/5.jpg")
                                    .card-text
                                        .card-item-name
                                            p HUAWEI P30 LITE 128GB Baltas (Pearl White)
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 462 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (104)
                                            tr
                                                td(colspan="2") Mobile phones

                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/7.jpg")
                                    .card-text
                                        .card-item-name
                                            p Huawei P Smart Z 4/64GB Žalias (EMERALD GREEN)
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 247 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span (87)
                                            tr
                                                td(colspan="2") Mobile phones
                        .col-md-4.col-lg-3.d-md-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/9.jpg")
                                    .card-text
                                        .card-item-name
                                            p XIAOMI REDMI NOTE 8 PRO 64GB Pilkas MZB8621EU
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 259 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 239 €
                                            tr
                                                td -7%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (65)
                                            tr
                                                td(colspan="2") Mobile phones
                        .col-lg-3.d-lg-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/phones/6.jpg")
                                    .card-text
                                        .card-item-name
                                            p HUAWEI P30 LITE 128GB Mėlynas (PEACOCK BLUE)
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 195 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (31)
                                            tr
                                                td(colspan="2") Mobile phones

            a.carousel_contr.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.icon_control.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel_contr.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.icon_control.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
    br


    //SECOND CAROUSEL -----------------------------------
    .item_carousel_container
        .item_carousel_category
            h3 TOP Loptops
        #carouselExampleIndicators1.carousel.slide.container(data-ride='carousel' data-interval="false")
            //ol.carousel-indicators
            //    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            //    li(data-target='#carouselExampleIndicators', data-slide-to='1')
            //    li(data-target='#carouselExampleIndicators', data-slide-to='2')
            .carousel-inner
                .carousel-item.active
                    .row
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/1.jpg")
                                    .card-text
                                        .card-item-name
                                            p Žaidimų kompiuteris Lenovo L340 Gaming 15.6'' FullHD IPS / Intel Core i5-9300H iki 4.Ghz / 8Gb RAM / 256Gb SSD / GeForce GTX1050 3Gb / USB 3.1 / Bluetooth / WiFi AC / HD kamera

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 619 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (2)
                                            tr
                                                td(colspan="2") Loptop
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/2.jpg")
                                    .card-text
                                        .card-item-name
                                            p Žaidimų kompiuteris MSI GL65 9SD 15.6 FullHD 120Hz / Intel Core i7-9750H iki 4.5Ghz / 8Gb DDR4 RAM / 256Gb SSD / GeForce GTX1660Ti 6GB / USB C / HDMI / šviečianti klaviatūra

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 1299 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 1099 €
                                            tr
                                                td -16%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (31)
                                            tr
                                                td(colspan="2") Loptop
                        .col-md-4.col-lg-3.d-md-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/3.jpg")
                                    .card-text
                                        .card-item-name
                                            p Žaidimų kompiuteris MSI G975 9SD 17.3 FullHD 144Hz / Intel Core i7-9750H iki 4.5Ghz / 8Gb DDR4 RAM / 256Gb SSD / GeForce GTX1660Ti 6GB / USB C / HDMI / šviečianti RGB klaviatūra / Killer Gb LAN

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 1499 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 1379 €
                                            tr
                                                td -9%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span (6)
                                            tr
                                                td(colspan="2") Loptop
                        .col-lg-3.d-lg-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/4.jpg")
                                    .card-text
                                        .card-item-name
                                            p Nešiojamas kompiuteris Žaidimų kompiuteris Lenovo L340 Gaming 15.6'' FullHD IPS / Intel Core i5-9300H iki 4.Ghz / 8Gb RAM / 512Gb SSD / GeForce GTX1650 4Gb / USB 3.1 / Bluetooth / WiFi AC / HD kamera + DOVANA Lenovo kuprinė
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 799 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 749 €
                                            tr
                                                td -6%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (3)
                                            tr
                                                td(colspan="2") Loptop
                .carousel-item
                    .row
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/5.jpg")
                                    .card-text
                                        .card-item-name
                                            p Nešiojamas kompiuteris Asus ZenBook UX533FAC-A8114T Icicle Sidabrinis, 15.6 ", IPS, FHD, 1920 x 1080 pikselių, Matinis, Intel Core i5, i5-10210U, 8 GB, SSD 512 GB, Intel UHD Graphics 620, Windows 10 Home, 802.11ax, Bluetooth versija 5.0, Klaviatūros kalba: English, Klaviatūros apšvietimas
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 915 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (12)
                                            tr
                                                td(colspan="2") Loptop

                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/6.jpg")
                                    .card-text
                                        .card-item-name
                                            p Žaidimų kompiuteris Lenovo Y540 Gaming 15.6'' FullHD IPS 144Hz / Intel Core i7-9750H iki 4.5Ghz / 8Gb RAM / 512Gb SSD / GeForce GTX1660Ti 6Gb / USB 3.1 / Bluetooth / WiFi 2x2 AC / HD kamera / DisplayPort / Šviečianti klaviatūra / Windows 10
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 1159 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (4)
                                            tr
                                                td(colspan="2") Loptop
                        .col-md-4.col-lg-3.d-md-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/7.jpg")
                                    .card-text
                                        .card-item-name
                                            p Žaidimų kompiuteris Lenovo L340 Gaming 15.6'' FullHD IPS / Intel Core i7-9750H iki 4.5Ghz / 8Gb RAM / 512Gb SSD / GeForce GTX1650 4Gb / USB 3.1 / Bluetooth / WiFi AC / HD kamera / šviečianti klaviatūra

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 899 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 838 €
                                            tr
                                                td -6%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span (9)
                                            tr
                                                td(colspan="2") Loptop
                        .col-lg-3.d-lg-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/8.jpg")
                                    .card-text
                                        .card-item-name
                                            p Apple MacBook Air (2017 modelis) Intel Dual Core i5 1.8 GHz | 13.3" ekranas | 8GB RAM | 128GB flash | Intel HD Graphics 6000 | OS X El Capitan
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 999 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 879 €
                                            tr
                                                td -12%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (43)
                                            tr
                                                td(colspan="2") Loptop
                .carousel-item
                    .row
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/9.jpg")
                                    .card-text
                                        .card-item-name
                                            p XIAOMI MI NOTE 10 6/128GB Juodas (Midnight Black) MZB8607EU
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 200 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 180 €
                                            tr
                                                td 10%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (21)
                                            tr
                                                td(colspan="2") Loptop

                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/10.jpg")
                                    .card-text
                                        .card-item-name
                                            p Nešiojamas kompiuteris LENOVO Y520-15IKBM i7-7700HQ 15.6" FHD 8GB 2TB SATA III 128GB SSD PCIe GTX1060 Max Q BT4.1 720p HD Kamera 3cell DOS (P)
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 1129 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span (14)
                                            tr
                                                td(colspan="2") Loptop
                        .col-md-4.col-lg-3.d-md-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/11.jpg")
                                    .card-text
                                        .card-item-name
                                            p Lenovo IdeaPad 330-15IKB Juodas, 15.6 ", Full HD, 1920 x 1080 pikselių, Matinis, Intel Core i5, i5-7200U, 4GB, SSD 256GB, Intel HD, Windows 10 Home, 802.11ac, Bluetooth 4.1, Klaviatūros kalba Anglų
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 599 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 539 €
                                            tr
                                                td -10%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (13)
                                            tr
                                                td(colspan="2") Loptop
                        .col-lg-3.d-lg-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/loptop/12.jpg")
                                    .card-text
                                        .card-item-name
                                            p aidimų kompiuteris Lenovo Y540 Gaming 15.6'' FullHD IPS 144Hz / Intel Core i7-9750H iki 4.5Ghz / 8Gb RAM / 512Gb SSD / GeForce GTX1660Ti 6Gb / USB 3.1 / Bluetooth / WiFi 2x2 AC / HD kamera / DisplayPort / Šviečianti klaviatūra / Windows 10
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 1159 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (42)
                                            tr
                                                td(colspan="2") Loptop

            a.carousel_contr.carousel-control-prev(href='#carouselExampleIndicators1', role='button', data-slide='prev')
                span.icon_control.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel_contr.carousel-control-next(href='#carouselExampleIndicators1', role='button', data-slide='next')
                span.icon_control.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
    br

    //THIRD CAROUSEL -----------------------------------
    .item_carousel_container
        .item_carousel_category
            h3 TOP TV
        #carouselExampleIndicators2.carousel.slide.container(data-ride='carousel' data-interval="false")
            //ol.carousel-indicators
            //    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            //    li(data-target='#carouselExampleIndicators', data-slide-to='1')
            //    li(data-target='#carouselExampleIndicators', data-slide-to='2')
            .carousel-inner
                .carousel-item.active
                    .row
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/1.jpg")
                                    .card-text
                                        .card-item-name
                                            p Panasonic 4K LED televizorius TX-43GX600E

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 349 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 299 €
                                            tr
                                                td -14%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (78)
                                            tr
                                                td(colspan="2") TV
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/2.jpg")
                                    .card-text
                                        .card-item-name
                                            p Panasonic Smart televizorius TX-32GS350E

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 249
                                                td(rowspan='2')
                                                    h4(class="item_price") 189 €
                                            tr
                                                td -24%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (2)
                                            tr
                                                td(colspan="2") TV
                        .col-md-4.col-lg-3.d-md-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/3.jpg")
                                    .card-text
                                        .card-item-name
                                            p Televizorius Hitachi 50HB5W62 50" (126 cm), Smart TV, Full HD, 1920 x 1080 pikselių, Wi-Fi, DVB-T2/C, Juodas

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 349 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 299 €
                                            tr
                                                td -14%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span (11)
                                            tr
                                                td(colspan="2") TV
                        .col-lg-3.d-lg-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/4.jpg")
                                    .card-text
                                        .card-item-name
                                            p Panasonic 4K Ultra HD LED televizorius TX-55GX600E
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 599 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 399 €
                                            tr
                                                td -33%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (13)
                                            tr
                                                td(colspan="2") TV
                .carousel-item
                    .row
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/5.jpg")
                                    .card-text
                                        .card-item-name
                                            p Televizorius Philips 32PFS5823/12 32" (81cm) TV
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 239 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 209 €
                                            tr
                                                td -12%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (9)
                                            tr
                                                td(colspan="2") TV

                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/6.jpg")
                                    .card-text
                                        .card-item-name
                                            p Televizorius SAMSUNG 4K Smart 65" Juodas UE65RU7172UXXH
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 899 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 614 €
                                            tr
                                                td -31%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (8)
                                            tr
                                                td(colspan="2") TV
                        .col-md-4.col-lg-3.d-md-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/7.jpg")
                                    .card-text
                                        .card-item-name
                                            p Televizorius LG OLED55E8PLA 55" (140 cm) Juodas

                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 1599 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 1297 €
                                            tr
                                                td -18%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (31)
                                            tr
                                                td(colspan="2") TV
                        .col-lg-3.d-lg-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/8.jpg")
                                    .card-text
                                        .card-item-name
                                            p Televizorius Hitachi 50HB5W62 50" (126 cm), Smart TV, Full HD, 1920 x 1080 pikselių, Wi-Fi, DVB-T2/C, Juodas
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 349 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 299 €
                                            tr
                                                td -14%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (10)
                                            tr
                                                td(colspan="2") TV
                .carousel-item
                    .row
                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/9.jpg")
                                    .card-text
                                        .card-item-name
                                            p Televizorius Sony KD55XG8096 55" (140 cm), Smart TV, 4K Ultra HD LED, 3840 x 2160 pikselių, Wi-Fi, DVB-T2/T/S2/S/C, Juodas
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 615 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (75)
                                            tr
                                                td(colspan="2") TV

                        .col-6.col-md-4.col-lg-3
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/10.jpg")
                                    .card-text
                                        .card-item-name
                                            p Televizorius LG OLED55B9PLA 55, Smart TV, 3D, UHD, 3840 x 2160, Wi-Fi, DVB-T/T2/C/S/S2, Juodas
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 1079 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (3)
                                            tr
                                                td(colspan="2") TV
                        .col-md-4.col-lg-3.d-md-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/11.jpg")
                                    .card-text
                                        .card-item-name
                                            p Televizorius TV Set|SAMSUNG|4K/Curved/Smart|49"|3840x2160|Wireless LAN|Bluetooth|Tizen|Colour Charcoal Juodas|UE49RU7372UXXH
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through")
                                                td(rowspan='2')
                                                    h4(class="item_price") 412 €
                                            tr
                                                td
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span.fa.fa-star
                                                    span (12)
                                            tr
                                                td(colspan="2") TV
                        .col-lg-3.d-lg-block.d-none
                            .card
                                .card-body
                                    img(src="../images/index_slideshow/tv/12.jpg")
                                    .card-text
                                        .card-item-name
                                            p Televizorius ESTAR LEDTV32D2T2 32"
                                        table(style='width:100%')
                                            tr
                                                td(style="text-decoration: line-through") 200 €
                                                td(rowspan='2')
                                                    h4(class="item_price") 160 €
                                            tr
                                                td -20%
                                            tr
                                                td(colspan="2")
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star.checked
                                                    span.fa.fa-star
                                                    span (46)
                                            tr
                                                td(colspan="2") TV

            a.carousel_contr.carousel-control-prev(href='#carouselExampleIndicators2', role='button', data-slide='prev')
                span.icon_control.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel_contr.carousel-control-next(href='#carouselExampleIndicators2', role='button', data-slide='next')
                span.icon_control.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
    br






