doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    script(type="text/javascript" src='/javascripts/slideShowGallery.js')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')



    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/form.css')

    script(src='https://kit.fontawesome.com/1e849ec730.js', crossorigin='anonymous')

    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')


  body

    .topnav1
      .topnav_container
        #myTopnav.topnav
          a.logo(href='/') MazeBit
          a(href='#') Home
          a(href='#') Delivery
          a(href='#') Payment
          a(href='#') Information
          a(href='#') Contacts
          a(href='/admin' style='float:right') Location

          a.icon(href='javascript:void(0);' style='font-size:15px; float:right' onclick='myFunction()') &#x2630;

    .header
      .header_container
        .header_logo
          a(href='/')
            img(src='../images/Logo.png')
        .header_search(style="flex-grow: 8")
          form(action= method='POST' enctype="multipart/form-data")
            .flex-container
              input(type='text' class='header_search' id='header_search' placeholder='Samsung Galaxy A5...' style="flex-grow: 8")
              button(type='Submit' style="flex-grow: 1" id='header_search_btn')
                img(src='../images/index_icons/search-icon.png')
        .header_icon(style="flex-grow: 2")
          a(href='/')
            img(src='../images/person_1.png')
            p Login in
        .header_icon(style="flex-grow: 2")
          a(href='/')
            img(src='../images/hart.png')
            p Liked products
        .header_icon(style="flex-grow: 2")
          a(href='/')
            img(src='../images/cart.png')
            p Cart


    .bottomnav
      .topnav_container
        .flex-container
          .bottom_nav_item(style="flex-grow: 1")
            a(href='#')
              p Promotions offers
          .bottom_nav_item(style="flex-grow: 1")
            a(href='#')
              p Mobile phones
          .bottom_nav_item(style="flex-grow: 1")
            a(href='#')
              p Computers
          .bottom_nav_item(style="flex-grow: 1")
            a(href='#')
              p  Office
          .bottom_nav_item(style="flex-grow: 1")
            a(href='#')
              p Household electronics
          .bottom_nav_item(style="flex-grow: 1")
            a(href='#')
              p Furniture
          .bottom_nav_item(style="flex-grow: 1")
            a(href='#')
              p Sport
          .bottom_nav_item(style="flex-grow: 1")
            a(href='#')
              p Toys
          .bottom_nav_item(style="flex-grow: 1")
            a(href='#')
              p Car goods

    block content

    //.footer
    //  h2 Footer

  // Footer
  footer.page-footer.font-small.unique-color-dark
    div(style='background-color: #2e3032;')
      .container
        // Grid row
        .row.py-4.d-flex.align-items-center
          // Grid column
          .col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0
            h6.mb-0(style='color: white') Get connected with us on social networks!
          // Grid column
          // Grid column
          .col-md-6.col-lg-7.text-center.text-md-right
            // Facebook
            a.fb-ic.white_icon_background
              i.fab.fa-facebook-f.white-text.mr-4
            // Twitter
            a.tw-ic.white_icon_background
              i.fab.fa-twitter.white-text.mr-4
            // Google +
            a.gplus-ic.white_icon_background
              i.fab.fa-google-plus-g.white-text.mr-4
            // Linkedin
            a.li-ic.white_icon_background
              i.fab.fa-linkedin-in.white-text.mr-4
            // Instagram
            a.ins-ic.white_icon_background
              i.fab.fa-instagram.white-text
          // Grid column
        // Grid row
    // Footer Links
    .container.text-center.text-md-left.mt-5
      // Grid row
      .row.mt-3
        // Grid column
        .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
          // Content
          h6.text-uppercase.font-weight-bold MAZEBIT
          hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
          p
            | MAZEBIT - a chain of on-demand stores where you can order and pick up most computer and home appliances at an online price.
            //| consectetur
            //| adipisicing elit.
        // Grid column
        // Grid column
        .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
          // Links
          h6.text-uppercase.font-weight-bold Useful links
          hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
          p
            a(href='#!') About MazeBit
          p
            a(href='#!') DUK
          p
            a(href='#!') Privacy policy
          p
            a(href='#!') Rules
        // Grid column
        // Grid column
        .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
          // Links
          h6.text-uppercase.font-weight-bold Useful links
          hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
          p
            a(href='#!') Your Account
          p
            a(href='#!') Become an Affiliate
          p
            a(href='#!') Shipping Rates
          p
            a(href='#!') Help
        // Grid column
        // Grid column
        .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
          // Links
          h6.text-uppercase.font-weight-bold Contact me
          hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
          p
            i.fas.fa-home.mr-3
            |  Vilnius, LT
          p
            i.fas.fa-envelope.mr-3
            a(href="mantassalkovskis@gmail.com") mantassalkovskis@gmail.com
          p
            i.fas.fa-phone.mr-3
            |  + (370) 62377200
          p
            i.fab.fa-linkedin-in.mr-3
            a(href="#") My LinkedIn profile
        // Grid column
      // Grid row
    // Footer Links
    // Copyright
    .footer-copyright.text-center.py-3
      | &copy; 2020 Copyright:
      a(href='/') MazeBit
      br
      br
      |  Made by: Mantas Šalkovskis
    // Copyright
  // Footer


