
.form_container {
    /*box-sizing: border-box;*/
    padding: 20px;
    background-image: linear-gradient(to right, rgba(52, 58, 64, 0.51), rgba(46, 48, 50, 0.18));
}

.form_container input[type=text],input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form_container label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form_container button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.col-25 {
    /*border: solid red 5px;*/
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.form_input:after {
    content: "";
    display: table;
    clear: both;
}

/*.row:after {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}