
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0 auto;
  background-color: #f4f4f4;
  line-height: 1;
}

.flex-container {
  display: flex;
  align-items: stretch;
}
/*-------------------------INDEX HEADER--------------------*/
.header {
  /*height: 100px;*/
  text-align: center;
}

.header_container {
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  align-items: stretch;
}

.header_search input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-top: 3px solid #333333;
  border-bottom: 3px solid #333333;
  border-left: 3px solid #333333;
  border-right: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#header_search_btn {
  margin: 0;
  border-top: 3px solid #333333;
  border-bottom: 3px solid #333333;
  border-right: 3px solid #333333;
  border-left: 3px solid #333333;
  background-color: #a8cf45;
  color: white;
  text-decoration: none;
}

#header_search_btn:hover {
  transition: 0.5s;
  background-color: white;
  color: #3a0086;
}

.header_search {
  padding: 15px 0 0 5px;
}

.header_search input {
  width: 65%;
  float: left;
}

#header_search_btn {
  margin: 8px 8px 8px 0;
  /*width: 30%;*/
  float: left;
}

#header_search_btn img {
  height: 37px;
  margin: 0;
}

.header_icon a img {
  padding: 25px 0px 0 0px;
  margin: 0;
  height: 60px;
}

.header_icon p {
  margin: 0;
  padding: 8px 5px 15px;
  color: black;
}

.header_logo {
  float: left;
  margin: 0;
}


.header_logo a img {
  width: 100%;
  height: 100%;
}
/*-------------------------INDEX HEADER--------------------*/

/*-------------------------TOP NAVIGATION BAR--------------------*/
/* Style the top navigation bar */
.topnav1 {
  overflow: hidden;
  background-color: #2e3032;
}

/* Style the top navigation bar container set max-width 1280px */
.topnav_container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}


/* Style the topnav links */
.topnav1 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}


/* Change color on hover */
.topnav1 a:hover {
  background-color: #ddd;
  color: black;
}

.topnav {
  overflow: hidden;
  /*background-color: #333;*/
}

/*.active {*/
  /*background-color: #4CAF50;*/
  /*color: white;*/
/*}*/

.topnav .icon {
  display: none;
}

.topnav .logo {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav a.logo {
    display: block;
  }

  .header_logo {
    display: none;
  }

  .header_icon p {
    display: none;
  }
  .header_icon {
    padding: 15px 0 0 0;
    flex-grow: 0;
  }

  .bottomnav {
    display: none;
  }

  .header_icon a img {
    padding: 15px 0 0 0;
    margin: 0;
    height: 50px;
  }

}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive {float: none;}
  .topnav.responsive {position: relative;}
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }

}
/*-------------------------TOP NAVIGATION BAR--------------------*/

/*-------------------------BOTTOM NAVIGATION BAR--------------------*/
.bottomnav {
  overflow: hidden;
  background-color: #2e3032;
}

.flex-container>.bottom_nav_item {
  color: white;
  /*width: 100px;*/
  height: 40px;
  text-align: center;
  font-size: 15px;

}

.bottom_nav_item:not(:last-child) {
  border-right: solid gray 1px;
}

.bottom_nav_item a {
  color: white;
  text-decoration: none;
  text-align: center;

}

.bottom_nav_item p {
  padding: 11px 0;
  margin:0;
  text-align: center;
  height: 100%;
}

.bottom_nav_item:hover {
  background-color: #ddd;
}

.bottom_nav_item:hover a {
  color: black;
}

/*-------------------------BOTTOM NAVIGATION BAR--------------------*/

.content_container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.rightcolumn {
  float: left;
  width: 75%;
  box-sizing: border-box;
}

/* Right column */
.leftcolumn {
  float: left;
  width: 25%;
}

/* Fake image */
.fakeimg {
  /*background-color: #aaa;*/
  background-color: black;
  width: 100%;
  padding: 5px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  /*padding: 20px;*/
  /*margin-top: 20px;*/
}

.meniu_item_img img {
  height: 30px;
}
.meniu_item_p p {
 margin:5px 0 0 5px;
  font-size: 80%;
}

.meniu_item_container {
  padding-top: 5px;
}

.meniu_item_container:hover  {
  border-left: solid black 5px;
  border-top: solid lightgray 1px;
  border-bottom: solid lightgray 1px;
}

.meniu_item_container:hover p {
  text-decoration: underline;
}

.meniu_item_container:after {
  content: "";
  display: table;
  clear: both;
}

.meniu_item_img {
  float: left;
  width: 10%;
}
.meniu_item_p {
  float: left;
  width: 90%;
  box-sizing: border-box;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/*-------------------------FOOTER--------------------*/
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #2e3032;
  margin-top: 20px;
  color: white;
}

.white_icon_background i{
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  /*width: 20px;*/
  /*height: 20px;*/

}
/*-------------------------FOOTER--------------------*/
/*-------------------------INDEX BANNER--------------------*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1280px;
  position: relative;
  /*margin: auto;*/
  margin: 10px auto 10px auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.test {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #b0b2b4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #2e3032;
}

 /*Fading animation*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade:not(.show) {
    opacity: 1;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*-------------------------INDEX BANNER--------------------*/

/*-------------------------INDEX ITEM CAROUSEL--------------------*/
.item_carousel_container {
  border: solid #b0b2b4 2px;
  max-width: 1280px;
  margin: 0 auto;
}

.item_carousel_category {
  border-bottom: solid #b0b2b4 2px;
  background-color: #b0b2b4;
}
.item_carousel_category h3 {
  padding-top: 5px;
  margin-left: 50px;
}

/* mixin for multiline */
.card-item-name {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.4em;
  text-align: justify;
  /*margin-right: -1em;*/
  padding-right: 1em;

  /*border:solid green 2px;*/
  height: 55px;
}
.card-item-name:before {
  /*content: '...';*/
  position: absolute;
  right: 0;
  /*left:0;*/
  bottom: 0;
}
.card-item-name:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;

  /*border:solid green 2px;*/
  /*height: 50px;*/
}

.container {
  max-width: 1280px;
}

.card-item-name p {
  /*text-overflow: clip;*/
  /*text-overflow: " [..]";*/
}

.card-body img {
  width: 100%;
  text-align: center;
}

.item_carousel_container .card {
  height: 100%;
}

.card-body:hover {
  background-image: linear-gradient(white,white, #d2d4d6);
}

.card-text {
  text-align: center;
  /*border: solid red 2px;*/
}

.card-text table {
  margin: 5px 0 5px;
}

 td {
  padding: 5px;
  /*border: solid #ff00f1 2px;*/
}

.item_price {
  /*margin-bottom: 20px;*/
  background-color: #a8cf45;
  color:white;
  border-radius: 25px;
 }

.carousel_contr {
  /*border: solid #000eff 2px;*/
  width: 5%;
  min-width: 50px;
}

.icon_control {
  width: 100%;
  height: 50%;
  /*border: solid green 2px;*/
  background-color: lightgray;
}

.icon_control:hover {
  background-color: #4e555b;
}

 /*Item star rating color*/
.checked {
  color: orange;
}
/*-------------------------INDEX ITEM CAROUSEL--------------------*/

